# List

In [ ]:
my_list=[1,2,3]

In [2]:
my_list=['String',100,200,20.3]

In [3]:
len(my_list)

4

In [4]:
myList=['one','two','three']

In [6]:
myList[0]

'one'

In [7]:
myList[1:]

['two', 'three']

In [8]:
myList+my_list

['one', 'two', 'three', 'String', 100, 200, 20.3]

In [9]:
my_list[0]=1000

In [10]:
my_list

[1000, 100, 200, 20.3]

In [12]:
my_list.append(10)

In [13]:
my_list.pop()

10

In [14]:
popped_item=my_list.pop()

In [15]:
popped_item

20.3

In [17]:
 new_list=['a','e','x','b','c']
 num_list=[4,1,8,3]

In [18]:
new_list.sort()

In [19]:
new_list

['a', 'b', 'c', 'e', 'x']

In [20]:
num_list.reverse()

In [21]:
num_list

[3, 8, 1, 4]

# Dictionaries

In [22]:
my_dict={'key1':'value1','key2':'value2'}

In [23]:
my_dict['key1']

'value1'

In [24]:
d={'k1':123,'k2':[0,2,3],'k3':{'inkey':100}}

In [25]:
d['k3']

{'inkey': 100}

In [26]:
d['k3']['inkey']

100

In [27]:
d['k2']

[0, 2, 3]

In [28]:
d['k2'][1]

2

In [29]:
d.keys()

dict_keys(['k1', 'k2', 'k3'])

In [30]:
d.values()

dict_values([123, [0, 2, 3], {'inkey': 100}])

In [31]:
d.items()

dict_items([('k1', 123), ('k2', [0, 2, 3]), ('k3', {'inkey': 100})])

# Tuples

In [3]:
t=('a','b','c')

In [4]:
t.count('a')

1

In [6]:
t.index("a")

0

Tuples are immutable

In [7]:
t[0]="b"

TypeError: 'tuple' object does not support item assignment

# Sets

In [8]:
myset=set()

In [10]:
myset.add(2)

In [11]:
myset.add(3)

In [12]:
myset

{2, 3}

In [13]:
myset[0]=1

TypeError: 'set' object does not support item assignment

In [14]:
set('Mississippi'.split())

{'Mississippi'}

In [15]:
set('Mississippi'.split)

TypeError: 'builtin_function_or_method' object is not iterable

In [16]:
set('Mississippi')

{'M', 'i', 'p', 's'}