In [1]:
for i in range(0,20,5):
    print(i)

0
5
10
15

In [3]:
word ='abcde'
for index,letter in enumerate(word):
    print(index)
    print(letter+'\n')

0
a

1
b

2
c

3
d

4
e

In [4]:
myl1=[1,2,3]
myl2=['a','b','c']
for item in zip(myl1,myl2):
    print(item)

(1, 'a')
(2, 'b')
(3, 'c')

In [5]:
list(zip(myl1,myl2))

[(1, 'a'), (2, 'b'), (3, 'c')]

In [6]:
'x' in [1,2,3]

False

In [7]:
'1' in [1,2,3]

False

In [8]:
'a' in 'aworld'

True

In [9]:
mylist=[342,5442,5432,4225,65,32]

In [10]:
min(mylist)

32

In [11]:
max(mylist)

5442

In [17]:
from random import shuffle

In [21]:
mylist=[1,2,3,4,5,6,7,8,9]

In [22]:
shuffle(mylist)

In [23]:
mylist

[7, 3, 1, 4, 9, 2, 8, 5, 6]

In [24]:
from random import randint

In [31]:
randint(0,40)

5

In [32]:
result = input("what is your name ?")

what is your name ?vikam

In [33]:
result

'vikam'

# List Comprehensions

In [35]:
mylist=[i for i in 'vikram']

In [36]:
mylist

['v', 'i', 'k', 'r', 'a', 'm']

In [37]:
mylist=[num for num in range(0,11)]

In [38]:
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [39]:
mylist=[num**2 for num in range(0,11)]

In [40]:
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [42]:
mylist=[num for num in range(0,11) if num%2==0]

In [43]:
mylist

[0, 2, 4, 6, 8, 10]

In [44]:
mylist=[num if num%2==0 else 'odd' for num in range(0,11) ]

In [45]:
mylist

[0, 'odd', 2, 'odd', 4, 'odd', 6, 'odd', 8, 'odd', 10]

In [49]:
mylist =[]
for x in [1,2,3]:
    for y in [1,10,100]:
        mylist.append(x*y)
mylist

[1, 10, 100, 2, 20, 200, 3, 30, 300]

In [52]:
mylist=[x*y for x in [1,2,3] for y in [1,10,100]]

In [53]:
mylist

[1, 10, 100, 2, 20, 200, 3, 30, 300]